# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SmartHomeTEC-API.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\adria\RiderProjects\SmartHomeTEC-API\.idea\.idea.SmartHomeTEC-API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
